/* Styles go here */
h2, h3 {
 margin: 0 0 -.7em 0 ;
 color: blue;
}

.column-layout {
 max-width:800px;
 background-color:white;
  margin-top:40px;
 margin-left:150px;
 margin-bottom:20px;
 line-height: 1.65;
 padding: 20px 40px;
 display:flex;
}

.main-column {
 flex:3;
 order:1;
}

.sidebar-one {
 flex:1;
 order:2;
}

.call-outs-container {
 max-width:800px;
 margin-top:20px;
 margin-left:150px;
 display:flex;
 justify-content: space-between;
}

.call-out {
 padding:20px;
 box-sizing: border-box;
 color: yellow;
 margin-bottom: 20px;
 width: 30%;
}

.call-out:nth-child(1) {background-color:blue;}
.call-out:nth-child(2) {background-color:red;}

.menu {
 max-width:200px;
 display:flex;
  margin-top:40px;
 margin-left:150px;
 flex-direction:row;
}

.menu-items {
  background-color: yellow;
  color:red;
  text-family:verdana;
  width: 500px;
  height: 80px;
  margin-right:10px;
  position: relative;
  transition-property: background-color, color;
  transition-duration: 1s, 1s;
  text-decoration: none;
}

.menu-items:hover {
    background-color: red;
    color:yellow;
}
.button {
  border:2px solid yellow;
  background-color:red;
  color:yellow;
  transition-property: color,background-color;
  transition-duration: 1s, 1s;
  text-decoration: none;
}
.button:hover{
  color:red;
  background-color:yellow;
}
* {
  margin:0;
  padding:0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #98FB98;
  color: blue;
  line-height: 1.6;
  text-align: center;
}

h1 {
  color: yellow;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 0 30px;
}

#showcase {
  height: 300px;
}

#showcase h1 {
  font-size: 50px;
  line-height: 1.3;
  position: relative;
  animation-name: floatingdown;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes floatingdown {
  0% {top: -60px;}
  100% {top: 200px;}
}

#content {
  position: relative;
  animation-name: content;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes content {
  0% {left: -1000px;}
  100% {left: 0px;}
}

.btn {
  display: inline-block;
  color: red;
  text-decoration: none;
  padding: 1rem 2rem;
  border: red 1px solid;
  margin-top: 40px;
  opacity:0;
  animation-name: btn;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  transition-property: transform;
  transition-duration: 1s;
}

@keyframes btn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.btn:hover {
  transform: rotatey(180deg);
}
